* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Suisse Intl", sans-serif;
}

#main {
  width: 100%;
  background-color: white;
}

#home {
  height: 100vh;
  width: 100%;
}

#nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  display: flex;
}

#nav img {
  width: 100px;
}

#nav a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  font-size: 1.15vw;
  letter-spacing: 0.1px;
}

#right {
  display: flex;
  align-items: center;
  gap: 25px;
}

#home #homemain {
  width: 100%;
  padding: 12vw 12vw;
}

#homemain h1 {
  font-weight: 600;
  font-size: 1.45vw;
  letter-spacing: -0.05vw;
}

.headings {
  display: flex;
  gap: 40px;
}

#homemain .headings h1 {
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
  font-size: 7vw;
  letter-spacing: -6px;
  line-height: 1;
}

#homelast {
  padding: 0vw 12vw;
}

#homelast p {
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: -0.09vw;
}

#homelast::selection {
  color: white;
  background-color: black;
}

#featured {
  padding: 10vw 12vw;
}

#featured h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: 400;
}

.fheading h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
#homemain .headings h1:hover {
  color: black;
}

#featuredimages {
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}

#featuredimages #fleft {
  overflow: hidden;
  width: 45%;
  height: inherit;
}

#fleft .fleftelem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
}

#fleft .fleftelem h1 {
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  margin: 1.5vw 0;
}

#fleft .fleftelem h3 {
  font-size: 1.5vw;
  font-weight: 400;
}

#fleft .fleftelem h4 {
  opacity: 0.5;
}

#featuredimages #fright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  height: inherit;
}

#fright .images {
  width: 90%;
  height: 90%;
  background-color: red;
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn button {
  padding: 1.3vw 2.5vw;
  border-radius: 100px;
  border: 2px solid rgb(158, 158, 158);
  background-color: white;
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: -1px;
}

#dev {
  width: 100%;
  padding: 5vw 15vw;
}

#dev h1 {
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 1;
}

#dev p {
  font-size: 1.4vw;
  margin-top: 3vw;
  letter-spacing: -0.5px;
}

#slides {
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-between;
}

#slide {
  width: 30%;
}

#slide .img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

#slide .tag {
  margin: 20px 0;
  border-radius: 100px;
  width: fit-content;
  background-color: rgb(247, 246, 246);
  padding: 10px 22px;
}

#slide .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slide h3 {
  font-size: 1.3vw;
  letter-spacing: -0.5px;
  font-weight: 400;
}
